@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer utilities {
    .bg-clip-text {
      -webkit-background-clip: text;
      background-clip: text;
    }
    .text-fill-transparent {
      -webkit-text-fill-color: transparent;
    }
  }

  .fade-letter {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .fade-letter.visible {
    opacity: 1;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }